<!DOCTYPE html>
<html>

  <head>
    <title>Movie Database (better than imdb, bitches)</title>

    <style>
    .movies {
      border: solid 2px;
      margin: 10px;
      padding: 10px;
    }
    </style>

  </head>

  <body>
  <%= yield %>
  </body>




</html>